.navContainer{
    margin-left: auto;
}

.navContainer ul{
    list-style: none;
    font-size: var(--fs-s);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.navContainer ul li{
    line-height: 300%;
}

.navContainer ul li a{
    color: var(--color-primary);
    text-decoration: none;
}

.navContainer ul li a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}